body {
  background-color: #f2f2f2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

    position: relative; 
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #333;
}

h1 {
	font-size: 40px;
}

h3 {
	color: #95a5a6;
	font-weight: 400;
}

h4 {
	color: #95a5a6;
	font-weight: 400;
	font-size: 20px;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3498db;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar-default {
	background-color: #3498db;
	border-color: transparent;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

/* Helpers */

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

.form-control {
	height: 42px;
	font-size: 18px;
	width: 280px;
}

i {
	margin: 8px;
	/*color: #3498db; */
}


/* HeaderWrap */
#headerwrap {
	/* background: url(../img/bg01.jpg) no-repeat center top; */
	/*background-color: #3498db;*/
	margin-top: -20px;
	padding-top:200px;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 60px;
	margin-bottom: 15px;
	color: white;
	font-size: 45px;
	font-weight: 300;
	letter-spacing: 1px;
}

.bg-1 {
    background: url('../img/bg1.jpg') no-repeat center center fixed;
    color: #fff;
    background-size: cover;
}
.section-parallax {
    min-height: 100%;
}

.color-navbar {
    background-color: rgba(52, 152, 219,0.9) !important;
}

.navbar-toggle{
        margin-top: 15px;
    margin-right: 15px;
}
.logo{
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
    transition: height 0.5s;
}
.logo-big{
    height: 85px;
}
.logo-small{
    height: 30px;
}
#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0
}
#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(52, 152, 219,0.9) !important;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0
}
#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px
}
#portfolio .portfolio-item .portfolio-caption h4 {
    text-transform: none;
    margin: 0
}
#portfolio .portfolio-item .portfolio-caption p {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    margin: 0
}
#portfolio * {
    z-index: 2
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    color: #fff;
}

.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    min-height: 100%;
    padding: 100px 0;
    text-align: center;
}

.portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051;
}

.portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #222;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052;
}
.portfolio-modal .close-modal:hover {
    opacity: .3;
}
.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}
.btn-primary .fa{
    color: #fff;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}
.img-centered {
    margin: 0 auto;
}

ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
    background-color: #3498db;
    color: #fff;
}
ul.social-buttons li a {
    display: block;
    background-color: #95ADBD;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

input:not([type=submit]) {
    width: 85%;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 15px 16px;
    border: 2px solid #ccc;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    color: rgba(52, 152, 219,1.0);
    transition: border-color .6s;
    -webkit-transition: border-color .6s;
}
textarea{
    width:85%;
    padding:15px 16px;
    font-size:16px;
    resize:vertical;
    margin-bottom:20px;
    border:2px solid #ccc;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
    color: rgba(52, 152, 219,1.0);
    font-family:Roboto,sans-serif;transition:border-color .6s;
    -webkit-transition:border-color .6s
    }
input:focus,textarea:focus{
    outline:0 transparent;border-color:rgba(52, 152, 219,1.0)
    }
input[type=submit]{
    font-size:18px;
    padding:15px 50px;
    margin:0;
    color:rgba(52, 152, 219,1.0);
    border-color: rgba(52, 152, 219,1.0);
}

input[type=submit]:hover {
color: #fff;
background: rgba(52, 152, 219,1.0);
border-color: rgba(52, 152, 219,1.0);
}
input[type=submit] {
font-size: 18px;
padding: 15px 50px;
margin: 0;
color: #3498db;
border-color: #3498db;
}
button, input[type=submit] {
text-transform: uppercase;
background: #fff;
border: 2px solid #ccc;
color: #999;
font-weight: 500;
margin: 0 5px;
padding: 8px 20px;
-webkit-border-radius: 45px;
-moz-border-radius: 45px;
border-radius: 45px;
font-size: 14px;
cursor: pointer;
transition: color .3s,background .3s,border-color .3s;
-webkit-transition: color .3s,background .3s,border-color .3s;
outline: 0 transparent;
}
input, select {
vertical-align: middle;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.footerP{
    margin: 20px;
    font-family: 'Lato';
    font-weight: 400;
}

.hiddenAn{
     opacity:0;
}
.visibleAn{
     opacity:1;
}

.headerMargin{
    margin-top: 5px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: rgba(5, 94, 152,0.7);
    border-radius: 10px;
}

.titleProject{
    word-wrap: break-word;
}